body{
    text-align: center;
    padding: 30px;
}

#url{
    padding: 10px 30px;
}

.btn{
    border: none;
    padding: 12px 15px;
    color: white;
    background: red;
    border-radius: 3px;
}

#QR-code{
    width: 200px;
    margin: auto;
    padding: 20px;
}